<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/task 
			http://www.springframework.org/schema/task/spring-task.xsd ">

    <bean id="feedUrlTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="feedUrlJob"/>
        </property>
        <property name="cronExpression" value="0 0 0/1 * * ?"/>
    </bean>
    <bean id="feedUrlJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="feedUrlTask"/>
        </property>
        <property name="targetMethod" value="initFeedUrl"/>
    </bean>
    <task:executor id="taskExecutor" pool-size="24" keep-alive="300" queue-capacity="36"
                   rejection-policy="CALLER_RUNS"/>
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="feedUrlTrigger"/>
            </list>
        </property>
    </bean>

</beans>