html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	font-family:"simsun";
}
html,body{
	width:100%;height:100%; min-width:980px;
}
a{text-decoration: none;color: #333;}
.hide{display: none;}
/*头部*/
.header{
	width:100%;background:url(../images/bg_top.jpg) no-repeat center; height:110px;
}
.apps_nav{
	width:950px; height:100%; background:url(../images/logo.jpg) no-repeat left; margin:0 auto;
}
.apps_nav ul{float:right; list-style:none; margin-top:35px;}
.apps_nav li{width:auto;float:left;}
.apps_nav div{
	line-height:36px; width:78px; text-align:center; font-size:16px; color:#d1d1d1; font-weight:bold; cursor:pointer;
}
.apps_nav #apps_home{background-color:#6c6c6c;}
.apps_nav #apps_download{ margin-left:5px;}
.apps_nav #apps_faq{ margin-left:15px;}
.apps_nav #apps_contact{ margin-left:25px;}
.apps_nav .div_hover{background-color:rgba(108,108,108,0.6)!important;color:#fff;}
.div_invisible{display:none;}
/*底部*/
.footer{
	padding-top:10px; width:100%;height:90px;border-top:1px solid #d5d5d5; font-size:12px; color:#444444; 
}
.footer_wrap{width:940px; margin:0 auto;}
.footer_wrap table{width:210px; float:left;margin-right:40px;}
.footer_wrap table div{width:100%; text-align:center;margin:0;cursor:pointer;}
.footer_wrap a,.contact_wrap a{ text-decoration:none; color:#444444;}
.footer_wrap table div:hover, .footer_wrap a:hover,{color:#0ea9e9; text-decoration:underline;}
.footer_wrap td+td{border-left:1px solid #444444;}
.footer_wrap div{float:left; margin:2px 25px;}
.footer_wrap .hotline{ background:url(../images/hotline.png) left no-repeat; padding-left:20px;}
/*首页内容*/
.middle_wrap, .apps_faq{ background:url(../images/bg_middle.jpg) repeat-y center; width:100%; height:425px;}
.intro_wrap{ width:900px; height:386px; margin:0 auto; background:url(../images/mobile_pic.jpg) right no-repeat; padding-top:35px;}
.intro_wrap h4{font-family:"Microsoft YaHei"; font-size:24px; font-weight:normal; line-height:50px;}
.intro_wrap ul{margin:5px 20px 30px; font-size:16px; color:#0ea9e9; line-height: 28px;}
.intro_wrap p{color:#444444; }
.intro_wrap button{background:url(../images/download_normal.png); border:none; width:183px; height:52px; margin:12px 0; cursor:pointer;}
.intro_wrap button:hover{background:url(../images/download_onmouse.png)!important;}
.intro_wrap div{line-height:27px; font-size:14px; padding-left:30px; width:150px;}
.intro_wrap .ios{ background:url(../images/apple_icon.png) left no-repeat;cursor: pointer;}
.intro_wrap .android{ background:url(../images/android_icon.png) left no-repeat; color:gray;}
.feature_wrap, .state_wrap, .feedback_wrap{ width:100%; height:300px;}
.feature_wrap table{ 
	width:980px; margin:30px auto; height:250px; font-size:14px; color:#444444; line-height:24px;
}
.feature_wrap table h3{font-family:"Microsoft YaHei"; font-size:16px; font-weight:normal; line-height:50px; color:#0ea9e9; padding-left:65px; margin-bottom:20px;}
.feature_wrap h3.hd_1{ background:url(../images/feature1.png) left no-repeat;}
.feature_wrap h3.hd_2{ background:url(../images/feature2.png) left no-repeat;}
.feature_wrap h3.hd_3{ background:url(../images/feature3.png) left no-repeat;}
.feature_wrap td{ vertical-align:top;}
.feature_wrap div{margin:0 20px 0 30px;;width:270px;}
.feature_wrap td+td{border-left:1px solid #d1d1d1;}
/*下载页面*/
.download_wrap{ width:950px; height:300px; margin:0 auto; padding-top:54px;}
.download_wrap .line{ background:url(../images/line.png) no-repeat center; height:300px; width:3px; float:left;}
.ios_download,.android_download{height: 120px; width: 463px; float:left; padding-top:180px; text-align:center;} 
.ios_download{ background:url(../images/apple_download.png) top no-repeat;}
.android_download{ background:url(../images/android_download.png) top no-repeat;}
.download_wrap .title{line-height:27px; font-size:14px;}
.download_wrap .dl{background:url(../images/download_normal.png) center no-repeat; border:none;height:52px; margin:20px 0; cursor:pointer;} 
.download_wrap .unclickable{background:url(../images/download_gray.png) center no-repeat; cursor:default; }
.download_state{width:930px; margin:30px auto;height:220px;font-size:14px; color:#444444; line-height:24px;}
.state_title{ border-bottom: 2px solid #16adf0; width:56px;}
.download_state ol{ margin:20px 25px;}
/*常见问题*/
.apps_faq{height:auto;}
.apps_faq .middle_wrap{height:auto;}
.faq_wrap{width:900px; padding:20px 0;margin:0 auto;line-height:27px; font-size:14px;}
.faq_tabs{width:500px; height:100px; margin-top:0!important;}
#filePlace{margin:15px 0 0 75px;}
.faq_wrap li{width:56px; list-style:none; float:left; margin-right:50px; cursor:pointer;}
.faq_wrap li.tab_hover{border-bottom: 2px solid #16adf0; }
.faq_wrap dl{height:auto; margin-bottom:30px;}
.faq_wrap dl dt{ font-weight:bold;}
.faq_wrap dl dt span{ font-weight:normal; width:20px;}
.faq_wrap dl dd{ font-family:"Microsoft YaHei"; margin:0 0 20px 20px;}
.apps_faq a{ text-decoration:none; color:#000; font-family:"Microsoft YaHei";line-height:27px;}
/*联系我们*/
.contact_wrap{ 
	width:910px; height:320px; margin:0 auto; background:url(../images/pic_connect.png) right no-repeat; padding-top:50px;font-size:16px;
}
.contact_title{ border-bottom: 2px solid #16adf0; width:65px; line-height:24px;}
.contact_wrap address{ font-size:14px; font-style:normal; line-height: 24px; margin-top:30px;}
.contact_wrap a:last-child{color:#0ea9e9;}
.contact_wrap a:hover, .apps_faq a:hover{color:#0ea9e9; text-decoration:underline;}
.apps_contact h5{width:910px; margin:0 auto;font-size:14px;}
/*管理工具*/
.admin_wrap{width:910px;margin:25px auto;}
.tools_tab{ height:30px; color: #333;background-color: #eee;padding: 10px 0 0 0;}
.tools_tab a{width: 120px;padding: 5px 10px;margin:0 10px;}
.tools_tab a.cur{background-color: #cdcdcd;}
.tools_tip{ height:20px; padding: 10px 0 0 0;}
.admin_wrap form{width: 870px;padding: 20px;}
.admin_wrap label{vertical-align:top; line-height:45px; margin-right:5px;}
.admin_wrap input{width:230px; height:25px; margin-top:9px; font-size:14px;}
.admin_wrap span{ margin-left:10px; font-size:12px; color:#767676;}
.admin_wrap textarea{width:500px; height:150px; margin-top:12px; font-size:14px; resize:none;}
.admin_wrap button{
	width:78px; height:30px; margin:15px 75px; background:url(../images/submit_normal.png) center no-repeat;cursor:pointer; border:none;
}
.admin_wrap button:hover{background:url(../images/submit_onmouse.png) center no-repeat;}